.App {
text-align: center;
background-color: #5e5e5e;
color: white;
height: 100vh;
}

.App-header {
  background-color: #858585;
  min-height: 10vh;
  color: white;
  border-bottom: solid 1px black;
  box-shadow: 0px 5px 5px #333333;
  margin-bottom: 50px;
}

h1 {
  margin: 0px;
}

.fact-box {
  border-bottom: 1px solid black;
  width: 60vw;
  margin:auto;
  padding: 5px;
}


button {
  background: #909090;
  border: 1px solid black;
  padding:10px;
}

.error {
  background: rgb(179, 85, 85);
  width: 200px;
  margin:auto;
  margin-top: 10px;
  padding: 5px;
}

.index {
  font-weight: bold;
  color: black;
}